body {
	font-family: var(--font-family);
	margin: 0;
	overflow-x: hidden;
}

.landing {
	background-image: url('./images/wave2.svg');
	background-position-y: 3rem;
}

.blob {
	background-image: url('./images/blob.svg');
	background-position-x: -2rem;
}

.blob2 {
	background-image: url('./images/blob.svg');
	background-position-x: -5rem;
	background-position-y: -2rem;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	text-align: center;
}
